<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
</head>

<body>
    <h1>Welcome to the Rock Paper Scissors game!</h1>
    <p>Just enter your name and press submit to start playing against the computer.</p>
    <form action="/game" method="post">
        <p>Please enter your name: <input id="player1-name-textbox" type="text" name="player1"></p>
        <input id="name-submit" type="submit" value="Submit!">
    </form>
</body>

</html>